@import url("../css/fonts.css");
@import url("../css/reset.css");
a {
  text-decoration: none; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

body {
  position: relative; }

header {
  height: 75px;
  position: sticky;
  background-color: #fff;
  z-index: 20;
  top: 0;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1); }
  header .container {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  header .logo {
    font-family: WisdomScript, serif;
    font-size: 35px;
    display: block;
    color: #000; }
  header .logo::first-letter {
    color: #fc6046; }
  header svg {
    width: 40px;
    height: 40px;
    display: none; }

nav ul {
  display: flex;
  align-items: center; }
nav li {
  display: inline-block;
  margin-left: 21px; }
nav li:hover {
  position: relative; }
  nav li:hover::before {
    content: '';
    display: block;
    background-image: linear-gradient(90deg, #fc5f45, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: -3px; }
nav a {
  font-family: Poppins-Medium, sans-serif;
  font-size: 14px;
  color: #000; }

@media screen and (max-width: 800px) {
  nav {
    position: absolute;
    top: -200px; }
    nav ul {
      display: block;
      background-color: #fff;
      width: 124px;
      height: 230px; }
    nav li {
      display: block;
      margin: 0 10px 10px 21px;
      box-sizing: border-box; }

  header svg {
    display: inline-block; }

  .nav-column {
    top: 75px;
    transition-duration: .5s; } }
.home {
  background: url(../media/home/bg-home.jpg) center/cover no-repeat;
  background-color: rgba(63, 64, 73, 0.85);
  background-blend-mode: overlay;
  padding: 162px 0 174px 0; }
  .home .container {
    text-align: center;
    padding: 0 110px; }
    .home .container h2 {
      font-family: LibreBaskerville-Regular, serif;
      font-size: 60px;
      color: #fff;
      line-height: 85px; }
  .home a {
    margin-top: 42px;
    display: inline-block;
    font-family: Poppins-SemiBold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fc5f45;
    padding: 18px 42px 16px;
    border-radius: 25px; }
  .home .features-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Poppins-Medium, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 83px; }
    .home .features-block .features {
      flex-grow: 1;
      max-width: 232px; }
    .home .features-block .features1 {
      color: #38c695; }
    .home .features-block .features2 {
      color: #8463b2;
      margin: 0 23px; }
    .home .features-block .features3 {
      color: #feb960; }
    .home .features-block svg {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 36px; }
    .home .features-block .cls-1 {
      fill: #38c695;
      fill-rule: evenodd;
      width: 40px;
      height: 40px; }
    .home .features-block .cls-2 {
      fill: #8463b2;
      fill-rule: evenodd;
      width: 40px;
      height: 40px; }
    .home .features-block .cls-3 {
      fill: #feb960;
      fill-rule: evenodd;
      width: 40px;
      height: 40px; }

.about {
  padding: 149px 0 151px 0; }
  .about .container {
    position: relative;
    height: 700px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .about .image {
    height: 700px;
    width: 555px;
    background-image: url(../media/about/bg-about.jpg);
    background-size: 230%;
    background-repeat: no-repeat;
    background-position: -260px -20px;
    overflow: hidden;
    box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 1%; }
  @media screen and (max-width: 700px) {
    .about .image {
      display: none; } }
  .about .image::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #daaca4, #cccccc);
    opacity: .4; }
  .about .about-text::before {
    content: '';
    display: block;
    background-image: linear-gradient(90deg, #fc5f45, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .about .about-text {
    max-width: 652px;
    padding: 79px 83px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1); }
  .about .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f6f6f6; }
  .about h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 34px;
    margin-top: 15px;
    position: relative;
    z-index: +1; }
  .about p {
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
    position: relative;
    z-index: +1; }

.services {
  background-color: #f7f7f7;
  padding: 145px 0 150px;
  position: relative;
  text-align: center; }
  .services .container {
    padding: 0; }
  .services .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f0f0f0; }
  .services h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .services h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .services h3 {
    margin-bottom: 81px; }
  .services .slider-services svg {
    width: 55px;
    height: 50px;
    margin-bottom: 19px; }
  .services .slider-services .cls {
    fill-rule: evenodd; }
  .services .slider-services .cls-1 {
    fill: #fc5f45; }
  .services .slider-services .cls-2 {
    fill: #38c695; }
  .services .slider-services .cls-3 {
    fill: #b27cf5; }
  .services .slider-services .cls-4 {
    fill: #feb960; }
  .services .slider-services h4 {
    font-family: Poppins-Medium, sans-serif;
    font-size: 20px;
    margin-bottom: 30px; }
  .services .slider-services p {
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    line-height: 25px; }
  .services .slider-services .slick-slide {
    background-color: #fff;
    box-sizing: border-box;
    padding: 65px 27px 51px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    height: 350px;
    margin: 0 15px; }
  .services .slider-services .service1 {
    border-bottom: solid 3px #fc5f45; }
  .services .slider-services .service2 {
    border-bottom: solid 3px #38c695; }
  .services .slider-services .service3 {
    border-bottom: solid 3px #b27cf5; }
  .services .slider-services .service4 {
    border-bottom: solid 3px #feb960; }
  @media screen and (max-width: 1200px) {
    .services .slider-services {
      width: 550px;
      margin: 0 auto; } }
  @media screen and (max-width: 600px) {
    .services .slider-services {
      width: 293px;
      margin: 0 auto; } }

.video {
  background-color: #3f4049;
  position: relative;
  height: 500px; }
  .video .container {
    text-align: center; }
  .video .play_button {
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%); }
  .video .play_button::before {
    content: 'Explore Our Awesomeness';
    position: absolute;
    font-family: Poppins-Regular, sans-serif;
    font-size: 30px;
    color: #fff;
    width: 394px;
    top: -89%;
    left: -164%; }
  .video .play_button::after {
    content: 'Click to play the video';
    position: absolute;
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    color: #fff;
    width: 164px;
    top: 143%;
    left: -38%; }
  .video .play_button_hide {
    z-index: -5; }
  .video svg {
    width: 80px;
    height: 80px; }
  .video .cls-1 {
    fill: #38c695;
    fill-rule: evenodd; }

.portfolio {
  background-color: #fff;
  padding: 144px 0 149px;
  text-align: center;
  position: relative; }
  .portfolio h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .portfolio h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .portfolio .container {
    padding: 0 24px; }
  .portfolio .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f6f6f6; }
  .portfolio h3 {
    margin-bottom: 82px;
    position: relative;
    z-index: +1; }

.grid_container_portfolio {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(3, 288px);
  grid-column-gap: 21px;
  grid-row-gap: 23px; }
  .grid_container_portfolio .grid-element_portfolio {
    position: relative; }
    .grid_container_portfolio .grid-element_portfolio::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: none; }
    .grid_container_portfolio .grid-element_portfolio img {
      height: 100%;
      width: 100%; }
    .grid_container_portfolio .grid-element_portfolio .plus {
      position: absolute;
      top: -20px;
      width: 100%;
      visibility: hidden; }
    .grid_container_portfolio .grid-element_portfolio svg {
      position: absolute;
      width: 60px;
      height: 60px;
      fill: #fff;
      fill-rule: evenodd; }
    .grid_container_portfolio .grid-element_portfolio .paragraph {
      font-family: Poppins-Medium, sans-serif;
      font-size: 18px;
      text-transform: capitalize;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: #fff;
      visibility: hidden; }
    .grid_container_portfolio .grid-element_portfolio h4 {
      margin-top: 25px; }
  .grid_container_portfolio .grid-element_portfolio:hover {
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    position: relative; }
    .grid_container_portfolio .grid-element_portfolio:hover::after {
      transition-duration: .5s;
      background-color: rgba(0, 0, 0, 0.4); }
    .grid_container_portfolio .grid-element_portfolio:hover .plus {
      position: absolute;
      top: 70px;
      transition-duration: .5s;
      visibility: visible;
      z-index: 5; }
    .grid_container_portfolio .grid-element_portfolio:hover svg {
      position: absolute;
      width: 60px;
      height: 60px;
      transform: translate(-50%, 10%); }
    .grid_container_portfolio .grid-element_portfolio:hover .paragraph {
      height: 21%;
      transition: .5s;
      visibility: visible;
      z-index: 5; }
    .grid_container_portfolio .grid-element_portfolio:hover .paragraph::after {
      content: '';
      display: block;
      background-image: linear-gradient(90deg, #fc5f45, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960);
      height: 3px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0; }

@media screen and (max-width: 1200px) {
  .grid_container_portfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); } }
.team {
  padding: 149px 0 150px;
  background-color: #f7f7f7;
  position: relative;
  text-align: center; }
  .team .container {
    padding: 0; }
  .team .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f0f0f0; }
  .team h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .team h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .team h3 {
    margin-bottom: 80px; }
  .team .slider_details {
    margin: 0 15px; }
  .team .details {
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: start;
    background-origin: border-box;
    padding: 72px 98px 71px; }
    .team .details h3 {
      font-family: Poppins-Medium, sans-serif;
      font-size: 20px;
      margin-bottom: 24px; }
    .team .details p {
      font-family: Poppins-Regular, sans-serif;
      font-size: 15px;
      max-width: 652px;
      line-height: 27px;
      display: inline-block; }
    .team .details .flex-contaitner {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .team ul {
    display: inline-block;
    border-left: solid 2px #efefef;
    padding: 23px 5px 13px 24px;
    position: relative; }
    .team ul li {
      margin-bottom: 14px; }
    .team ul span {
      font-family: Poppins-Regular, sans-serif;
      font-size: 15px;
      color: #616161;
      vertical-align: middle; }
    .team ul svg {
      fill: #616161;
      fill-rule: evenodd;
      width: 15px;
      height: 15px;
      vertical-align: middle; }
  .team ul::before {
    content: '';
    display: block;
    height: 35px;
    width: 36px;
    background-image: url(../media/team/team-svg-line.svg);
    position: absolute;
    top: 40%;
    left: -72px; }

.slider_members {
  width: 1170px;
  margin: 0 auto 50px; }
  .slider_members .members {
    text-align: center;
    box-sizing: border-box;
    margin: 0 15px;
    padding: 5px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    position: relative; }
  .slider_members .image {
    width: 100%;
    height: 259px;
    margin-bottom: 21px;
    position: relative; }
    .slider_members .image img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .slider_members .image::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #daaca4, #cccccc);
    opacity: .4; }
  .slider_members h4 {
    font-family: Poppins-Medium, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px; }
  .slider_members p {
    font-family: Poppins-Regular, sans-serif;
    font-size: 13px;
    margin-bottom: 15px; }
  .slider_members .member1 {
    border-bottom: solid 3px #fc5f45; }
    .slider_members .member1 .image::after {
      background-image: linear-gradient(to top, #fc5f45, #cccccc); }
    .slider_members .member1 h4 {
      color: #fc5f45; }
  .slider_members .member2 {
    border-bottom: solid 3px #38c695; }
    .slider_members .member2 .image::after {
      background-image: linear-gradient(to top, #38c695, #cccccc); }
    .slider_members .member2 h4 {
      color: #38c695; }
  .slider_members .member3 {
    border-bottom: solid 3px #b27cf5; }
    .slider_members .member3 .image::after {
      background-image: linear-gradient(to top, #b27cf5, #cccccc); }
    .slider_members .member3 h4 {
      color: #b27cf5; }
  .slider_members .member4 {
    border-bottom: solid 3px #feb960; }
    .slider_members .member4 .image::after {
      background-image: linear-gradient(to top, #feb960, #cccccc); }
    .slider_members .member4 h4 {
      color: #feb960; }
  @media screen and (max-width: 1170px) {
    .slider_members {
      width: 879px; } }
  @media screen and (max-width: 879px) {
    .slider_members {
      width: 586px; } }
  @media screen and (max-width: 586px) {
    .slider_members {
      width: 293px; } }

@media screen and (max-width: 800px) {
  .section-team {
    flex-wrap: wrap; } }
.stats {
  background: url(../media/stats/bg-stats.jpg) center/cover no-repeat;
  background-color: rgba(38, 39, 50, 0.85);
  background-blend-mode: overlay;
  padding: 147px 0 125px; }
  .stats .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .stats .container div {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-basis: 263px; }
  .stats svg:first-of-type {
    width: 50px;
    height: 47px;
    margin: 0 auto 30px; }
  .stats svg:last-of-type {
    width: 15px;
    height: 15px;
    margin: 0 auto; }
  .stats .cls-1 {
    fill: #fc5f45;
    fill-rule: evenodd; }
  .stats .cls-2 {
    fill: #38c695;
    fill-rule: evenodd; }
  .stats .cls-3 {
    fill: #b27cf5; }
  .stats .cls-4 {
    fill: #feb960; }
  .stats span:first-of-type {
    font-family: Poppins-Medium, sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 25px; }
  .stats span:last-of-type {
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    color: #bdbdbf;
    margin-bottom: 40px; }

.worksteps {
  padding: 147px 0 150px;
  background-color: #fff;
  position: relative;
  text-align: center; }
  .worksteps .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f6f6f6; }
  .worksteps h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .worksteps h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .worksteps h3 {
    margin-bottom: 80px; }
  .worksteps .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px; }
    .worksteps .flex-container .image {
      width: 556px;
      height: 300px;
      position: relative; }
    @media screen and (max-width: 600px) {
      .worksteps .flex-container .image {
        width: 100%; } }
    .worksteps .flex-container .image::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: .4; }
    .worksteps .flex-container img {
      width: 100%;
      height: 100%; }
    .worksteps .flex-container .image1::before {
      background-image: linear-gradient(to top, #fc6046, #cccccc); }
    .worksteps .flex-container .image2::before {
      background-image: linear-gradient(to top, #38c695, #cccccc); }
    .worksteps .flex-container .image3::before {
      background-image: linear-gradient(to top, #b27cf5, #cccccc); }
    .worksteps .flex-container .image4::before {
      background-image: linear-gradient(to top, #feb960, #cccccc); }
  .worksteps .steps-content {
    position: absolute;
    background-color: #fff;
    max-width: 458px;
    box-sizing: border-box;
    padding: 70px 50px 46px 124px;
    text-align: left;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1); }
    .worksteps .steps-content .numbers {
      font-family: LibreBaskerville-Bold, serif;
      font-size: 50px;
      position: absolute;
      top: 15%;
      left: 8%;
      color: #e0e0e0; }
    .worksteps .steps-content h3 {
      font-family: Poppins-Regular, sans-serif;
      font-size: 25px;
      margin-bottom: 20px; }
    .worksteps .steps-content p {
      font-family: Poppins-Regular, sans-serif;
      font-size: 15px;
      line-height: 27px; }
  .worksteps .steps-content1 {
    top: 0;
    left: 0;
    border-bottom: solid 3px #fc6046; }
  .worksteps .steps-content2 {
    top: 24%;
    right: 0;
    border-bottom: solid 3px #38c695; }
  .worksteps .steps-content3 {
    top: 48%;
    left: 0;
    border-bottom: solid 3px #b27cf5; }
  .worksteps .steps-content4 {
    top: 72%;
    right: 0;
    border-bottom: solid 3px #feb960; }
  .worksteps .steps-content:after {
    content: '';
    display: block;
    height: 120px;
    width: 1px;
    background-color: #e3e3e3;
    transform: rotate(45deg);
    position: absolute;
    top: 7%;
    left: 17.5%; }

.pricing {
  padding: 147px 0 152px;
  background-color: #f7f7f7;
  position: relative;
  text-align: center; }
  .pricing .container {
    padding: 0; }
  .pricing .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f0f0f0; }
  .pricing h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .pricing h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .pricing h3 {
    margin-bottom: 78px; }
  .pricing .slider-price {
    width: 1170px; }
  @media screen and (max-width: 1200px) {
    .pricing .slider-price {
      width: 400px;
      margin: 0 auto; } }
  .pricing .price-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 360px;
    height: 575px;
    padding: 33px 88px 38px;
    margin: 0 15px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff; }
    .pricing .price-section h3 {
      font-family: Poppins-Medium, sans-serif;
      font-size: 20px;
      margin-bottom: 27px; }
    .pricing .price-section b {
      font-weight: bold; }
    .pricing .price-section span {
      display: block;
      font-family: sans-serif;
      margin-bottom: 24px; }
    .pricing .price-section span:last-of-type {
      margin-bottom: 36px; }
  .pricing .pricing-circle {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    width: 112px;
    height: 112px;
    margin: 0 auto 40px;
    color: white;
    position: relative;
    padding: 35px 0; }
    .pricing .pricing-circle span {
      font-family: Poppins-Regular, sans-serif; }
    .pricing .pricing-circle span:first-of-type {
      font-size: 25px;
      display: block;
      margin-bottom: 4px; }
    .pricing .pricing-circle span:last-of-type {
      font-size: 13px;
      margin: 0; }
  .pricing .pricing-circle::before {
    content: '';
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 3px #fff;
    position: absolute;
    top: 3%;
    left: 3%; }
  .pricing .pricing-circle1 {
    background-color: #38c695; }
  .pricing .pricing-circle2 {
    background-color: #fc6046; }
  .pricing .pricing-circle3 {
    background-color: #b27cf5; }
  .pricing a {
    display: inline-block;
    font-family: Poppins-SemiBold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fc5f45;
    padding: 18px 42px 16px;
    border-radius: 25px;
    padding: 16px 38px 14px; }
  .pricing .price-section1 {
    border-top: solid 3px #38c695; }
    .pricing .price-section1 a {
      background-color: #fff;
      color: #38c695;
      border: solid 2px #38c695; }
    .pricing .price-section1 a:hover {
      background-color: #38c695;
      color: #fff; }
  .pricing .price-section2 {
    border-top: solid 3px #fc6046; }
    .pricing .price-section2 a {
      background-color: #fff;
      color: #fc6046;
      border: solid 2px #fc6046; }
    .pricing .price-section2 a:hover {
      background-color: #fc6046;
      color: #fff; }
  .pricing .price-section3 {
    border-top: solid 3px #b27cf5; }
    .pricing .price-section3 a {
      background-color: #fff;
      color: #b27cf5;
      border: solid 2px #b27cf5; }
    .pricing .price-section3 a:hover {
      background-color: #b27cf5;
      color: #fff; }

.testimonials {
  background: url(../media/testimonials/testimonials-bg.jpg) center/cover no-repeat;
  background-color: rgba(63, 64, 73, 0.85);
  background-blend-mode: overlay;
  padding: 143px 0 151px;
  position: relative;
  text-align: center; }
  .testimonials .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #484951;
    opacity: .5; }
  .testimonials h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .testimonials h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .testimonials h2, .testimonials h3 {
    color: #fff; }
  .testimonials h3 {
    margin-bottom: 81px; }

.slider_testimonials {
  display: flex; }
  .slider_testimonials .slider-for {
    width: 34%;
    height: 399px;
    position: relative; }
    .slider_testimonials .slider-for div {
      overflow: hidden; }
    .slider_testimonials .slider-for img {
      height: 399px; }
  .slider_testimonials .slider-for::before {
    content: '';
    display: block;
    width: 100%;
    height: 399px;
    background-image: linear-gradient(to top, #daaca4, #cccccc);
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5); }
  .slider_testimonials .slider-nav {
    margin: 45px 0 23px;
    width: 66%; }
    .slider_testimonials .slider-nav .slick-list {
      box-sizing: border-box;
      background-color: #fff;
      border-bottom: solid 3px #fc6046;
      text-align: left;
      margin-bottom: 20px; }
    .slider_testimonials .slider-nav .item {
      box-sizing: border-box;
      padding: 33px 55px 13px;
      width: 755px; }
    .slider_testimonials .slider-nav p {
      font-family: Poppins-Regular, sans-serif;
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 37px; }
    .slider_testimonials .slider-nav h4 {
      font-family: Poppins-Medium, sans-serif;
      font-size: 18px;
      text-transform: capitalize;
      margin-bottom: 8px; }
    .slider_testimonials .slider-nav span {
      display: inline-block; }
    .slider_testimonials .slider-nav span:first-of-type {
      font-family: Sacramento-Regular, serif;
      font-size: 40px;
      margin-bottom: 12px; }
    .slider_testimonials .slider-nav span:last-of-type {
      margin-bottom: 25px; }
    .slider_testimonials .slider-nav a {
      font-family: Poppins-Regular, sans-serif;
      font-size: 13px;
      color: #fc6046; }
  .slider_testimonials .slick-dots {
    text-align: right; }
    .slider_testimonials .slick-dots .slick-active button {
      border-color: #fc6046; }
      .slider_testimonials .slick-dots .slick-active button::before {
        background-color: #fc6046;
        visibility: visible; }
    .slider_testimonials .slick-dots button {
      position: relative;
      border: solid 1px #fff;
      border-radius: 50%;
      width: 16px;
      height: 16px; }
    .slider_testimonials .slick-dots button:hover {
      border-color: #fc6046; }
      .slider_testimonials .slick-dots button:hover::before {
        visibility: visible; }
    .slider_testimonials .slick-dots button::before {
      content: '';
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      background-color: #fc6046;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      visibility: hidden; }

.select {
  background-color: #fff;
  padding: 145px 0 149px;
  position: relative;
  text-align: center; }
  .select .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f6f6f6; }
  .select h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .select h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .select h3 {
    margin-bottom: 66px; }
  .select .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 93px; }
    .select .flex-container div {
      text-align: left;
      max-width: 360px;
      box-sizing: border-box;
      padding: 14px 20px 14px 24px;
      margin-bottom: 40px; }
    .select .flex-container svg {
      float: left;
      margin-right: 13px;
      margin-bottom: 20px;
      width: 51px;
      height: 54px; }
    .select .flex-container .cls-1 {
      fill: #fc5f45;
      fill-rule: evenodd; }
    .select .flex-container .cls-2 {
      fill: #38c695;
      fill-rule: evenodd; }
    .select .flex-container .cls-3 {
      fill: #b27cf5;
      fill-rule: evenodd; }
    .select .flex-container .cls-4 {
      fill: #feb960;
      fill-rule: evenodd; }
    .select .flex-container p {
      clear: left; }
    .select .flex-container div:last-of-type svg {
      margin-right: 21px;
      margin-bottom: 20px;
      margin-left: 8px; }
  .select h4 {
    font-family: Poppins-Medium, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    margin-right: 122px; }
  .select p {
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    line-height: 27px; }
  .select .calltoaction span {
    font-family: Poppins-Regular, sans-serif;
    font-size: 25px;
    margin-right: 20px; }
  .select .calltoaction a {
    display: inline-block;
    font-family: Poppins-SemiBold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fc5f45;
    padding: 18px 42px 16px;
    border-radius: 25px;
    padding: 18px 40px 16px; }

.blog {
  background-color: #f7f7f7;
  padding: 147px 0 150px;
  position: relative;
  text-align: center; }
  .blog .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #f0f0f0; }
  .blog h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .blog h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .blog h3 {
    margin-bottom: 79px; }
  .blog .grid-container {
    display: grid;
    grid-template-rows: 210px 23px 210px 23px 210px;
    grid-template-columns: 555px 555px;
    column-gap: 30px;
    text-align: left; }
  @media screen and (max-width: 1200px) {
    .blog .grid-container {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px; } }
  .blog .grid-element {
    padding: 30px 37px;
    background-color: #fff;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1); }
    .blog .grid-element div {
      margin-bottom: 18px; }
    .blog .grid-element span {
      font-family: Poppins-Medium, sans-serif;
      font-size: 15px;
      text-transform: uppercase; }
    .blog .grid-element time {
      font-family: Poppins-Regular, sans-serif;
      font-size: 13px;
      vertical-align: middle;
      margin-left: 28px; }
    .blog .grid-element h4 {
      font-family: Poppins-Medium, sans-serif;
      font-size: 18px;
      text-transform: capitalize;
      text-transform: none;
      margin-bottom: 17px; }
    .blog .grid-element p {
      font-family: Poppins-Regular, sans-serif;
      font-size: 15px;
      line-height: 10px;
      line-height: 27px; }
    .blog .grid-element a {
      font-family: Poppins-Medium, sans-serif;
      font-size: 15px; }
  .blog .grid-element1 {
    grid-column: 1/2;
    grid-row: 1/4; }
    .blog .grid-element1 span {
      color: #fc6046; }
  .blog .grid-element2 {
    grid-column: 1/2;
    grid-row: 4/6;
    padding: 23px 51px;
    line-height: 35px;
    border-bottom: solid 3px #fc6046; }
    .blog .grid-element2 h4 {
      font-family: Poppins-Medium, sans-serif;
      font-size: 20px; }
  .blog .grid-element3 {
    grid-column: 2/3;
    grid-row: 1/2;
    border-bottom: solid 3px #38c695; }
    .blog .grid-element3 span, .blog .grid-element3 a {
      color: #38c695; }
  .blog .grid-element4 {
    grid-column: 2/3;
    grid-row: 3/4;
    border-bottom: solid 3px #b27cf5; }
    .blog .grid-element4 span, .blog .grid-element4 a {
      color: #b27cf5; }
  .blog .grid-element5 {
    grid-column: 2/3;
    grid-row: 5/6;
    border-bottom: solid 3px #feb960; }
    .blog .grid-element5 span, .blog .grid-element5 a {
      color: #feb960; }
  @media screen and (max-width: 600px) {
    .blog .grid-container {
      display: block; } }

.subscription {
  padding: 146px 0 149px; }
  .subscription .container {
    text-align: center; }
  .subscription form {
    display: inline-block;
    width: 480px;
    position: relative; }
  .subscription h2 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 30px;
    margin-bottom: 49px; }
  .subscription input {
    background-color: #f7f7f7;
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    line-height: 44px;
    border: solid 2px #efefef;
    border-radius: 35px;
    padding-left: 27px;
    width: 100%;
    box-sizing: border-box; }
  .subscription button {
    display: inline-block;
    font-family: Poppins-SemiBold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fc5f45;
    padding: 18px 42px 16px;
    border-radius: 25px;
    padding: 13px 28px 12px 23px;
    border: none;
    position: absolute;
    left: 62.7%;
    border-radius: 0px 25px 25px 0px; }
  @media screen and (max-width: 550px) {
    .subscription form {
      width: 80%;
      box-sizing: border-box; } }

.contact {
  background-color: #ccc;
  padding: 147px 0;
  position: relative;
  text-align: center; }
  .contact .numbers {
    font-family: Poppins-Bold, sans-serif;
    font-size: 275px;
    line-height: 0.8;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #d2d2d2; }
  .contact h2 {
    font-family: LibreBaskerville-Bold, serif;
    font-size: 50px;
    margin-bottom: 31px;
    position: relative;
    z-index: +1; }
  .contact h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px; }
  .contact h3 {
    margin-bottom: 80px; }
  .contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 149px;
    max-width: 750px; }
  .contact input, .contact textarea {
    background-color: #fff;
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    color: #6f6f6f;
    border: solid 1px #efefef;
    line-height: 45px;
    border-radius: 5px;
    width: 48%;
    margin-bottom: 26px;
    text-align: center; }
  .contact textarea {
    width: 100%;
    resize: none;
    margin-bottom: 63px; }
  .contact button {
    display: inline-block;
    font-family: Poppins-SemiBold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fc5f45;
    padding: 18px 42px 16px;
    border-radius: 25px;
    border: none;
    margin: 0 auto;
    padding: 13px 31px 12px; }
  @media screen and (max-width: 500px) {
    .contact input {
      width: 100%; } }

footer {
  background-color: #3f4049;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  position: relative; }
  footer .logo {
    font-family: WisdomScript, serif;
    font-size: 35px;
    display: block;
    color: #fef4f2;
    flex-basis: 263px;
    text-align: center;
    margin: auto 0; }
  footer .logo::first-letter {
    color: #fc6046; }
  footer h4 {
    font-family: Poppins-Medium, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 33px; }
  footer address {
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    color: #fef4f2;
    line-height: 27px; }
  footer .flex-element {
    box-sizing: border-box;
    padding: 62px 31px 57px;
    flex-basis: 263px; }
  footer .flex-element1 h4 {
    color: #38c695; }
  footer .flex-element2 h4 {
    color: #b27cf5; }
  footer .flex-element3 h4 {
    color: #feb960;
    margin-bottom: 40px; }
  footer .flex-element3 li {
    margin-right: 11px; }
  footer::before {
    content: '';
    display: block;
    background-image: linear-gradient(90deg, #fc5f45, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  footer li {
    display: inline-block; }
  footer svg {
    width: 30px;
    height: 30px; }
  footer .cls-1 {
    fill: #fff;
    fill-rule: evenodd; }

/*# sourceMappingURL=main.css.map */
